/* =============
    Header
============= */

#header{
    div {
        background-image: url('../img/image-1.jpg');
        background-size: cover;
        background-position: center;
        height: 370px;

        @include md{
            height: 510px;
        } 

        @include lg{
            height: 680px;
        }

    }   
}