/* =============
    Header
============= */

#header{
    div {
        background-image: url('../img/image-1.jpg');
        background-size: cover;
        background-position: center;
        height: 500px;

        @include md{
            height: 512px;
        } 

        @include lg{
            height: 800px;
        }

        h1{
            text-align: start;
            color: $turquoise;
        }

    }   
}