/* =============
    Section 1
============= */

#section-1{ 
    #section-1-right {
        display: grid;
        grid-template-columns: 10px auto 10px;
        grid-template-areas: ". section-1-right .";
        padding: 60px 0;
        color: $turquoise;

        >div{
            grid-area: section-1-right ;
        }

    }

    aside {
        background-image: url('../img/neon-sign.jpg');
        background-size: cover;
        background-position-x: -150px;
        background-repeat: no-repeat;
        
        @include md{
            height: 500px;
            background-position-x: -180px;
        }

        @include lg{
            height: 2040px ;
            background-position-x: -100px;
        }
    }

    @include md{
        display: grid;
        grid-template-columns: 50% auto;
        grid-template-areas: "section-1-img section-1-right";

        #section-1-img{
            grid-area: section-1-img;
        }
        #section-1-right{
            grid-area: section-1-right;
        }

    }

    @include lg{
        display: grid;
        grid-template-columns: 25% auto;
        grid-template-areas: "section-1-img section-1-right";

        #section-1-text{
            grid-area: section-1-right;
        }
    }

    @include md{
        padding: 80px 0;
    }

    @include lg{
        padding: 60px 20px;
    }
}