/* =============
    Section 2
============= */
#section-2{
    background-image: url('../img/mug-pourover.jpg');
    background-size: cover;
    background-position: center;
    height: 510px;
    padding: 60px 0;
    

    @include md{
        height: 700px;
    }

    @include lg{
        height: 1500px;
    }
    
    
}