/* =============
    Section 1
============= */

#section-1{ 
    #section-1-text {
        display: grid;
        grid-template-columns: 10px auto 10px;
        grid-template-areas: ". section-1-text .";
        padding: 60px 0;
        text-align: right;

        >div{
            grid-area: section-1-text ;
        }

    }

    aside {
        background-image: url('../img/image-2.jpg');
        background-size: cover;
        height: 480px;
        background-repeat: no-repeat;
        
        @include md{
            height: 500px;
            background-position-x: -180px;
        }

        @include lg{
            height: 2040px ;
            background-position-x: -100px;
        }
    }

    @include md{
        display: grid;
        grid-template-columns: 50% auto;
        grid-template-areas: "section-1-img section-1-text";

        #section-1-img{
            grid-area: section-1-img;
        }
        #section-1-text{
            grid-area: section-1-right;
        }

    }

    @include lg{
        display: grid;
        grid-template-columns: 50% auto;
        grid-template-areas: "section-1-img section-1-text";

        #section-1-text{
            grid-area: section-1-text;
        }
    }

    @include md{
        padding: 80px 0;
    }

    @include lg{
        padding: 60px 20px;
    }
}