/* =============
    Section 5
============= */
#section-5{
    
    display: grid;
    grid-template-columns: 15px auto 15px;
    grid-template-areas: ". section-5 .";
    padding: 40px 0;

    @include md{
        padding: 50px 0;
    }

    @include lg{
        padding: 50px 0;
    }

    #section-6-content {
        grid-area: section-6;

        @include lg{
            >div {
                display: grid;
                grid-template-columns: 50% auto;
                grid-template-areas: "img-left text-right";

                #img-right{
                    grid-area: img-left;
                }
                #text-left{
                    grid-area: text-right;
                }
            }
        }
    }
}