/* =============
    Section 4
============= */
#section-4{  
    div {
        display: grid;
        grid-template-columns: 100%;
        grid-template-areas: "section-4";

        ul {
            grid-area: section-5;
            display: grid;
            
            grid-row-gap: 10px;
            grid-column-gap: 10px;
            

            @include md{
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-areas:
                        "gallery-1 gallery-1"
                        "gallery-2 gallery-3";
            }

            @include lg{
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-areas:
                        "gallery-1 gallery-2"
                        "gallery-1 gallery-3";
            }

            li {
                background-size: cover;
                height: 100%;
            }
        
            #gallery-1{
                background-image: url('../img/image-4.jpg');
                background-position-y: -120px;
                height: 300px;
                background-repeat: no-repeat;

                @include md {
                    grid-area: gallery-1;
                    height: 710px;
                    
                }

                @include lg{
                    grid-area: gallery-1;
                    height: 710px;
                }
            }

            #gallery-2{
                background-image: url('../img/image-5.jpg');
                height: 300px;

                @include md{
                    grid-area: gallery-2;
                    height: 340px;
                }

                @include lg{
                    grid-area: gallery-2;
                    height: 340px;
                }
            }

            #gallery-3{
                background-image: url('../img/image-6.jpg');
                height: 300px;

                @include md {
                    grid-area: gallery-3;
                    height: 340px;
                }

                @include lg{
                    grid-area: gallery-3;
                    height: 340px;
                }
            }

        }
    }
}