/* =============
    Section 1
============= */

#section-1{
    
    div {
        display: grid;
        grid-template-columns: 10px auto 10px;
        grid-template-areas: ". section-2-text ."
                            ". section-2-image .";
        grid-gap: 20px;

        @include lg{
            display: grid;
            grid-template-columns: 50% auto;
            grid-template-areas: "section-2-image section-2-text";
        }

        @include xl{
            display: grid;
            grid-template-columns: 1200px auto;
            grid-template-areas: "section-2-image section-2-text";
        }

        section {
            grid-area: section-2-text;
        }

        aside {
            grid-area: section-2-image;
            img {
                width: 100%;
            }
        }
    }
}